@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<h6>Tournament Organizer is a web app that manages tournament teams. There are 3 types of users/roles in Tournament Organizer</h6>
<h6>The roles include Organizer, Manager, and Player. The combination of these 3 roles creates a fully functional tournament.</h6>